@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


.hero-wrap {
  width: 100%;
  height: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }
  .hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .5;
    background: rgba(32, 124, 229, 0);
    background: -moz-linear-gradient(45deg, rgba(32, 124, 229, 0) 0%, rgba(146, 95, 206, 0) 55%, #f048bb 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(32, 124, 229, 0)), color-stop(55%, rgba(146, 95, 206, 0)), color-stop(100%, #f048bb));
    background: -webkit-linear-gradient(45deg, rgba(32, 124, 229, 0) 0%, rgba(146, 95, 206, 0) 55%, #f048bb 100%);
    background: -o-linear-gradient(45deg, rgba(32, 124, 229, 0) 0%, rgba(146, 95, 206, 0) 55%, #f048bb 100%);
    background: -ms-linear-gradient(45deg, rgba(32, 124, 229, 0) 0%, rgba(146, 95, 206, 0) 55%, #f048bb 100%);
    background: linear-gradient(45deg, rgba(32, 124, 229, 0) 0%, rgba(146, 95, 206, 0) 55%, #f048bb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#f048bb', GradientType=1 ); }
  .hero-wrap.hero-wrap-2 {
    height: 600px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    .hero-wrap.hero-wrap-2 .overlay {
      width: 100%;
      opacity: .3;
      background: #ce4be8;
      background: -moz-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, #ce4be8), color-stop(100%, #207ce5));
      background: -webkit-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
      background: -o-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
      background: -ms-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
      background: -webkit-linear-gradient(315deg, #ce4be8 0%, #207ce5 100%);
      background: -o-linear-gradient(315deg, #ce4be8 0%, #207ce5 100%);
      background: linear-gradient(135deg, #ce4be8 0%, #207ce5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce4be8', endColorstr='#207ce5', GradientType=1 ); }
    .hero-wrap.hero-wrap-2 .slider-text {
      height: 600px; }
      .d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }
.ftco-section {
  padding: 7em 0;
  position: relative;
  width: 100%;
  height: 80%; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0;
      height: 100%; } }

.ftco-no-pt {
  padding-top: 0 !important; }

.ftco-no-pb {
  padding-bottom: 0 !important; }

.ftco-bg-dark {
  background: #3c312e; }

.ftco-intro {
  color: rgba(255, 255, 255, 0.8);
  z-index: 0;
  overflow: hidden; }
  .ftco-intro .img {
    padding: 3em;
    position: relative;
    z-index: 0;
    overflow: hidden; }
    @media (max-width: 767.98px) {
      .ftco-intro .img {
        padding: 2em 1em; } }
    .ftco-intro .img .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      opacity: .6;
      background: #e449ad;
      z-index: -1; }
  @media (max-width: 991.98px) {
    .ftco-intro {
      background-position: center center !important; } }
  .ftco-intro h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }
    @media (max-width: 767.98px) {
      .ftco-intro h2 {
        font-size: 20px; } }
    .ftco-intro h2 span {
      background: #4986fc; }

.ftco-footer {
  font-size: 16px;
  padding: 7em 0;
  z-index: 0;
  background: #ce4be8;
  background: -moz-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ce4be8), color-stop(100%, #207ce5));
  background: -webkit-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
  background: -o-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
  background: -ms-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
  background: -webkit-linear-gradient(315deg, #ce4be8 0%, #207ce5 100%);
  background: -o-linear-gradient(315deg, #ce4be8 0%, #207ce5 100%);
  background: linear-gradient(135deg, #ce4be8 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce4be8', endColorstr='#207ce5', GradientType=1 ); }
  .ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600; }
  .ftco-footer .ftco-footer-widget ul li a {
    color: rgba(255, 255, 255, 0.8); }
    .ftco-footer .ftco-footer-widget ul li a span {
      color: rgba(255, 255, 255, 0.1); }
  .ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important; }
    .ftco-footer .ftco-footer-widget .btn-primary:hover {
      background: #fff;
      border: 2px solid #fff !important; }
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.8); }
  .ftco-footer a {
    color: rgba(255, 255, 255, 0.8); }
    .ftco-footer a:hover {
      color: #4986fc; }
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #fff; }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    color: #fff;
    border-radius: 50%;
    position: relative;
    background: #24d2c8; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 18px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff !important; }
    .ftco-footer-social li a:hover {
      color: #4986fc; }

#map {
  width: 100%;
  height: 400px; }
  @media (max-width: 991.98px) {
    #map {
      height: 300px; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(73, 134, 252, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(73, 134, 252, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(73, 134, 252, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(73, 134, 252, 0.4);
    -webkit-box-shadow: 0 0 0 0 rgba(73, 134, 252, 0.4);
    box-shadow: 0 0 0 0 rgba(73, 134, 252, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(73, 134, 252, 0);
    -webkit-box-shadow: 0 0 0 30px rgba(73, 134, 252, 0);
    box-shadow: 0 0 0 30px rgba(73, 134, 252, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(73, 134, 252, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(73, 134, 252, 0);
    box-shadow: 0 0 0 0 rgba(73, 134, 252, 0); } }

.heading-section .subheading {
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #4986fc;
  text-transform: uppercase; }

.heading-section h2 {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.4; }
  .heading-section h2 span {
    font-weight: 400; }
  @media (max-width: 767.98px) {
    .heading-section h2 {
      font-size: 28px; } }

.heading-section.heading-section-white .subheading {
  color: rgba(255, 255, 255, 0.9); }

.heading-section.heading-section-white h2 {
  font-size: 40px;
  color: #fff; }

.heading-section.heading-section-white p {
  color: rgba(255, 255, 255, 0.9); }

.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.bg-bottom {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; }
    .ftco-about .about-wrap {
    position: relative;
    width: 100%; }
    @media (max-width: 767.98px) {
      .ftco-about .about-wrap {
        height: 400px; } }
  .ftco-about .img {
    -webkit-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    border: 15px solid #fff;
    width: 80%;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0; }
    @media (max-width: 767.98px) {
      .ftco-about .img {
        height: 400px;
        width: 100%; } }

/*Meet our Team*/
/*Position:relative*/
.team-section{
  background-color:#009688;
  min-height: 100vh;
  padding:70px 15px 30px;
  box-sizing: border-box;
  position: relative;
}

.container{
  max-width: 1170px;
  margin:auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.team-section .section-title{
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 70px;
}

.team-section .section-title h1{
  font-size: 40px;
  text-align: center;
  margin:0;
  color: #ffffff;
  font-weight: 700;
  margin-top:60px;
}

.team-section .section-title p{
  font-size:16px;
  text-align: center;
  margin:15px 0 0;
  color:#ffffff;
}
.team-section .team-items{
  
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top:50px;
}
.team-section .team-items .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.team-section .team-items .item img{
  display: block;
  width: 100%;
  border-radius: 8px;
}

.team-section .team-items .item .inner{
  position: relative;
  z-index: 11;
  padding:0 15px;
}
.team-section .team-items .item .inner .info{
  background-color:#009688;
  text-align: center;
  padding: 20px 15px;
  border-radius:8px;
  transition: all .5s ease;
  margin-top: -40px;
}

.team-section .team-items .item .inner .info .page-links{
  text-decoration: none;
}

/*Team on card hover p color*/
.team-section .team-items .item:hover .inner .info .page-links p{
  transition:0.5s;
  color:#fff !important;
}

/*Team label link on hover*/
.team-section .team-items .item .inner .info .page-links:hover .team-label{
  transition:0.5s;
  color:#F3FF33 !important;

}

.team-section .team-items .item:hover  .info{
    transform: translateY(-20px);
}
.team-section .team-items .item:hover{
 transform: translateY(-10px);  
}
.team-section .team-items .item .inner .info h5{
  margin:0;
  font-size: 18px;
  font-weight: 600;
  color:#ffffff;
}
.team-section .team-items .item .inner .info p{
  font-size: 16px;
  font-weight: 400;
  color:#c5c5c5;
  margin:10px 0 0;
}

.team-section .team-items .item .inner .info .social-links{
  padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a{
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  color:#009688;
  border-radius: 50%;
  margin:0 2px;
  text-align: center;
  line-height: 32px;
  font-size:16px;
  transition: all .5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover{
  box-shadow: 0 0 10px #000;
}

/*responsive*/
@media(max-width: 991px){
  .team-section .team-items .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
  .team-section .team-items .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}